.Calendar {
    --cell-size: 2rem;

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(7 * var(--cell-size) + 6 * 0.3rem);
    margin: 0 auto;
    padding-top: 2rem;
}

.Calendar__header,
.Calendar__week-days,
.Calendar__days {
    display: grid;
    grid-template-columns: repeat(7, var(--cell-size));
    gap: 0.3rem;
    align-items: center;
    font-size: 0.8rem;
}

.Calendar__header {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.Calendar__week-days {
    margin-bottom: 0.3rem;
}

.Calendar__current-date {
    font-size: 1.1rem;
    font-weight: 500;
    grid-column: span 5;
    padding-left: 0.15rem;
}

.Calendar__button {
    position: relative;
    height: var(--cell-size);
    border-radius: 50%;
    font-size: 1.2rem;
    color: var(--color-text-hint);
    cursor: pointer;
}

.Calendar__button:first-of-type > svg {
    left: -4%;
    transform: translateY(-50%) scale(0.6) rotate(180deg);
}

.Calendar__button:last-of-type > svg {
    right: -4%;
}

.Calendar__button > svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.6);
    fill: currentColor;
}

.Calendar__button:hover {
    background-color: var(--color-border);
}

.Calendar__day,
.Calendar__week-day {
    text-align: center;
}

.Calendar__week-day {
    color: var(--color-text-hint);
}

.Calendar__day {
    height: var(--cell-size);
    padding-top: 0.4rem;
    color: var(--color-text-hint);
    border-radius: 50%;
    cursor: pointer;
}

.Calendar__day:hover {
    background-color: var(--color-border);
}

.Calendar__day.current-month {
    color: var(--color-text);
}

.Calendar__day.today {
    background-color: var(--color-primary);
}

.Calendar__day.selected {
    background-color: var(--color-primary-alt);
}
