.Header {
    grid-column: span 2;
    display: flex;
    gap: 2rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--color-border);
}

.burger {
    /* width: 2rem; */
    /* height: 2rem; */
    font-size: 2rem;
    cursor: pointer;
}

.burger:hover {
    color: var(--color-primary);
}

.burger > svg {
    fill: currentColor;
}
