.WeekBody {
    display: grid;
    grid-template-columns: 3rem 1fr;
    padding-bottom: 5rem;
    max-height: 100%;
    overflow-y: scroll;
}

.WeekBody::-webkit-scrollbar {
    width: var(--scroll-bar-width);
}
/* .WeekBody::-webkit-scrollbar-button {
    background: #ccc;
}
*/
.WeekBody::-webkit-scrollbar-track-piece {
    background: var(--color-background);
}
.WeekBody::-webkit-scrollbar-thumb {
    background: var(--color-text);
}

.WeekBody__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.WeekBody__day,
.WeekBody__hours {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
}

.WeekBody__day {
    border-left: 1px solid var(--color-border);
    background-color: var(--color-border);
}

.WeekBody__cell {
    min-height: 3rem;
    background-color: var(--color-background);
}

.WeekBody__cell {
    border-bottom: 1px solid var(--color-border);
}

.WeekBody__hour {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    padding-right: 5px;
    background-color: var(--color-background);
    color: var(--color-text-hint);
}

.WeekBody__hour::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 1rem;
    background-color: var(--color-border);
}

.popup-content {
    background: var(--color-background);
    width: 300px;
    height: 300px;
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 0px var(--color-text);
}

.popup-arrow {
    display: none;
    /* color: transparent; */
}

.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup-content button {
    padding: 0.3rem 0.5rem;
    background-color: var(--color-primary);
    cursor: pointer;
}
