.WeekBody {
    display: grid;
    grid-template-columns: 3rem repeat(7, 1fr);
    padding-bottom: 5rem;
    max-height: 100%;
    overflow-y: scroll;
}

.WeekBody::-webkit-scrollbar {
    width: var(--scroll-bar-width);
}
/* .WeekBody::-webkit-scrollbar-button {
    background: #ccc;
}
*/
.WeekBody::-webkit-scrollbar-track-piece {
    background: var(--color-background);
}
.WeekBody::-webkit-scrollbar-thumb {
    background: var(--color-text);
}

.WeekBody__days,
.WeekBody__hours {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
}

.WeekBody__days {
    border-left: 1px solid var(--color-border);
    background-color: var(--color-border);
}

.WeekBody__cell {
    min-height: 3rem;
    background-color: var(--color-background);
}

.WeekBody__cell {
    border-bottom: 1px solid var(--color-border);
}

.WeekBody__hour {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    padding-right: 5px;
    background-color: var(--color-background);
    color: var(--color-text-hint);
}

.WeekBody__hour::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 1rem;
    background-color: var(--color-border);
}
