.WeekHeader {
    display: grid;
    grid-template-columns: 3rem repeat(7, 1fr);
    gap: 1px;
    padding-right: 12px;
}

.WeekHeader__cell {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
    font-weight: 500;
    background-color: var(--color-background);
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 1px solid var(--color-border);
}

.WeekHeader__cell::after {
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    bottom: 0;
    width: 1px;
    height: 1rem;
    background-color: var(--color-border);
}

.WeekHeader__cell.selected {
    color: var(--color-primary-alt);
}

.WeekHeader__cell.today {
    color: var(--color-primary);
}

.WeekHeader__timezone {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 0.3rem 0.3rem 0;
    background-color: var(--color-background);
    font-size: 0.7rem;
    color: var(--color-text-hint);
}

.WeekHeader__timezone::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 1rem;
    background-color: var(--color-border);
}
