.Sidebar {
    margin-left: calc(-1 * var(--sidebar-width));

    width: 100%;
    max-width: var(--sidebar-width);

    padding: 2rem var(--sidebar-padding) 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all var(--transition-time);

    &.expended {
        margin: 0;
    }
}
