*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text: #e2e2e2;
    --color-text-hint: #bebebe;
    --color-border: #5c5c5c;
    --color-background: #1f1f1f;
    --color-primary: #e74c3c;
    --color-primary-alt: #e74c3c70;

    --header-height: 3.5rem;
    --main-height: calc(100vh - var(--header-height));
    --scroll-bar-width: 12px;
    --sidebar-padding: 1rem;
    --sidebar-width: calc(16rem + var(--sidebar-padding) * 2);

    --transition-time: 0.3s;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.main {
    width: 100%;
}

.App__container {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: var(--main-height);
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.logo__icon {
    transform: scale(1.5);
}
