*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text: #e2e2e2;
    --color-text-hint: #bebebe;
    --color-border: #5c5c5c;
    --color-background: #1f1f1f;
    --color-primary: #e74c3c;
    --color-primary-alt: #e74c3c70;

    --header-height: 3.5rem;
    --scroll-bar-width: 12px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.App {
    height: 100vh;
}

.main {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.logo__icon {
    transform: scale(1.5);
}
