*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text: #e2e2e2;
    --color-text-hint: #bebebe;
    --color-border: #5c5c5c;
    --color-background: #1f1f1f;
    --color-primary: #303f9f;
    --color-primary-alt: #515fb8;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.App {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
}
